main {
    width: 70%;
    margin: 0 auto;

    #img-box {
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 70%;}
    }
    #random-joke-box {

    }
}